<section class="hero">
  <i class="material-icons">code</i>
  <h1>@NgxFirebase <strong>Client</strong></h1>
</section>

<section class="intro">
  <p class="lead">The NgxFirebase/Client module provides the official Firebase SDK as an Angular module.</p>
</section>

<section class="get-started">
  <h2>Adding Firebase to your project</h2>
  <p>The first thing you need to do is install Firebase and the NgxFirebase Client packages</p>

  <div class="terminal">
    <pre>npm install firebase @ngx-firebase/client</pre>
  </div>
  <cite>Console</cite>

  <p>Then import the NgxFirebaseClient module into your app, passing it the Firebase project configuration.</p>
  <div class="terminal">

    <pre>...
import {{'{'}}NgxFirebaseClientModule{{'}'}} from '@ngx-firebase/client';
...
imports: [
  BrowserModule,
  NgxFirebaseClientModule.forRoot({{'{'}}
    apiKey: "#####",
    authDomain: "#####",
    databaseURL: "#####",
    projectId: "#####",
    storageBucket: "#####",
    messagingSenderId: "#####",
    appId: "#####",
    measurementId: "#####",
  {{'}'}})
],
</pre>
  </div>
  <cite>src/app/app.module.ts</cite>

  <p>Now you are ready to use the SDK in your components</p>

  <div class="terminal">
    <pre>...
import {{'{'}}NgxFirebaseClientService{{'}'}} from '@ngx-firebase/client';
...
export class AppComponent {{'{'}}
  constructor(private firebase: NgxFirebaseClientService) {{'{'}}
    this.firebase.firestore().collection('test').add({{'{'}}test: true{{'}'}});
  {{'}'}}
{{'}'}}

    </pre>
  </div>
  <cite>src/app/app.component.ts</cite>
</section>

